{% extends "base.html" %}
{% load i18n %}

{% block title %}Title{% endblock %}

{% block content %}
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
<form method="post" action="">{% csrf_token %}
<table>
<tr>
    <td>{{ evaluation_form.evaluatee.label|capfirst }}</td>
    <td>{{ evaluation_form.evaluatee }}</td>
</tr>
<tr>
	<td>{{ evaluation_form.individual_score.label|capfirst }}</td>
    <td>{{ evaluation_form.individual_score }}</td>
</tr>
</table>
<br>
<table>
<tr>
    <td>{{ group_form.score.label|capfirst }}</td>
    <td>{{ group_form.score }}</td>
</tr>
</table>
<br>
    {{ formset.management_form }}
{{ formset.non_form_errors.as_ul }}
<table id="formset" class="form">
{% for form in formset.forms %}
  {% if forloop.first %}
  <thead><tr>
    {% for field in form.visible_fields %}
    <th>{{ field.label|capfirst }}</th>
    {% endfor %}
  </tr></thead>
  {% endif %}
  <tr class="{% cycle row1,row2 %}">
  {% for field in form.visible_fields %}
    <td>
    {# Include the hidden fields in the form #}
    {% if forloop.first %}
      {% for hidden in form.hidden_fields %}
      {{ hidden }}
      {% endfor %}
    {% endif %}
      {{ field.errors.as_ul }}
      {{ field }}
    </td>
  {% endfor %}
  </tr>
{% endfor %}
</table>
	<input type="submit" value="Submit" />
</form>
{% if evaluation.next_evaluation %}
<p><a href="/eece496/{{ evaluation.next_evaluation.session.id }}/{{ evaluation.next_evaluation.id }}">{{ evaluation.next_evaluation }}</a></p>
{% endif %}
{% endblock %}