{% extends "base.html" %}
{% load i18n %}

{% block title %}COGS{% endblock %}

{% block content %}
<h1>Today's Sessions</h1>

{% if cogs_list %}
{% if evaluation_list %}
{% for cogs in cogs_list %}
    {% for evaluation in evaluation_list %}
        <p><a href="/eece496/{{ cogs.id }}/{{ evaluation.session.id }}/{{ evaluation.id }}">
		{{ evaluation.session.room}} {{ evaluation.start }} to {{ evaluation.end }}
		</a></p>
    {% endfor %}
{% endfor %}
{% else %}
	<p>No sessions remaining for today</p>
{% endif %}
{% else %}
    <p>No COGS today.</p>
{% endif %}
{% endblock %}